.container {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 600;

  color: #1e3a8a;
}

.input {
  width: 100%;

  padding: 14px;

  border: 1px solid #d1d5db;

  border-radius: 10px;

  outline: none;

  transition: all 0.3s ease;
}

.input:focus {
  border-color: #2563eb;

  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.15);
}
